:root {
  --h1-font-family: "SF Pro", Helvetica;
  --h1-font-weight: 700;
  --h1-font-size: 42px;
  --h1-letter-spacing: 0px;
  --h1-line-height: 105px;
  --h1-font-style: normal;
  --body-text-font-family: "SF Pro", Helvetica;
  --body-text-font-weight: 500;
  --body-text-font-size: 16px;
  --body-text-letter-spacing: 0px;
  --body-text-line-height: 20px;
  --body-text-font-style: normal;
  --mbody-font-family: "SF Pro", Helvetica;
  --mbody-font-weight: 400;
  --mbody-font-size: 12px;
  --mbody-letter-spacing: 0px;
  --mbody-line-height: normal;
  --mbody-font-style: normal;
}
